{
  "semi": true,
  "endOfLine": "lf",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "useTabs": true,
  "trailingComma": "all",
  "quoteProps": "consistent",
  "arrowParens": "always",
  "plugins": ["prettier-plugin-organize-imports"]
}
